#title{
    background-color: rgb(45, 111, 45);
    color: #fff;
}

h1 {  padding-top: 10%;  font-family: 'Montserrat, sans-serif';  font-size: 3.5rem;  line-height: 1.5;  font-weight: 900;}

h2{
    font-family: "Montserrat-Bold";
    font-size: 3rem;
    line-height: 1.5;
}

h3{
    font-family: "Montserrat-Bold";
}

p{
    color: #8f8f8f;
}

.container-fluid{
    padding: 3% 15%;
}

body{
    font-family: "Montserrat";
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar{
    padding-bottom: 0 0 4.5rem;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}

.download-button{
    margin: 5% 3% 5% 0;
}

.title-img{
    margin-top: 10%;
    margin-left: 10%;
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
}

#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.feature-box{
    text-align: center;
    padding: 5%;
}

.icon{
    color: green;
    margin-bottom: 1rem;
}

.icon:hover{
    color: yellowgreen;
}

#testimonials{
    padding: 7% 15%;
    text-align: center;
    background-color: rgb(45, 111, 45);
    color: #fff;
}

.t-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: rgb(45, 111, 45);
    color: #fff;
    text-align: center;
    padding-bottom: 3%;
}
.img1e{
    width: 15%;
    margin: 20px;
}

.carousel-item{
    padding: 7% 15%;
}

#pricing{
    padding: 10%;
}

@media (max-width: 1028px) {

    #title{
        text-align: center;
    }
    .title-img{
        position: static;
        transform: rotate(0);
        width: 40%;
    }
}

#cta{
    
    background-color: rgb(45, 111, 45);
    color: #fff;
    text-align: center;
    padding: 7% 15%;
}
.ctaer{
    font-family: "Montserrat-dark";
    font-size: 3.5rem;
    line-height: 1.5;
}
#footer{
    text-align: center;
    padding: 7% 15%;
}

.soc-icon{
    padding: 3%;
}